// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.jibo-audio {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.jibo-audio .audio-element{
    margin-top: 100px;
}
